*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
__pycache__
_site
.jekyll-cache/
Pipfile
Pipfile.lock
.Rproj.user
.Rhistory
.RData

# Artifacts from running the lesson sample code in-place
code/snakemake/.snakemake/
code/snakemake/results/
code/nextflow/.nextflow/
code/nextflow/.nextflow.log*
code/nextflow/results/
code/nextflow/work/
code/Pipfile.lock
commands-local.mk
