*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
__pycache__
_site
.jekyll-cache/
Pipfile
Pipfile.lock
.Rproj.user
.Rhistory
.RData

# Artifacts from running the lesson sample code in-place
code/.snakemake/
code/results/
code/Pipfile.lock
commands-local.mk
