*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
__pycache__
_site
.jekyll-cache/

# Artifacts from running the lesson sample code in-place
code/snakemake/.snakemake/
code/snakemake/results/
code/Pipfile.lock
